html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #a4b0be;
}

.row {
    justify-content: center;
}

input {
    width: 50%;
    margin-right: 5px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: inset;
    border-color: #a4b0be;
    border-radius: 5px;
    height: 35px;
    background-color: #dfe4ea;
    
}

.inputBox {
    text-align: center;
    padding-bottom: 8px;
}

.poster {
    text-align: center;
}

.previousButton {
    width: 7%;
    margin-right: 5px;
}

.nextButton {
    width: 7%;
    margin-left: 5px;
}

.prevNextButtons {
    text-align: center;
}

.navbar-header {
    text-align: center;
    background-color: #a4b0be;
}

.home {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.home:hover {
    color: black;
}

.card {
    background-color: #ced6e0;
}

.footer .container {
    color: black;
}

.modal-content {
    background-color: #dfe6e9;
}

.modal-content li{
    background-color: #dfe6e9;
}

.failed-search {
    color: #EA2027;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}