@page
@using MovieBrowser.Website.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Movie Browser</h1>
</div>

@(await Html.RenderComponentAsync<MovieList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>