@page
@using MovieBrowser.Website.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="home-container display-4"><a class="home" asp-area="" asp-page="/Index">Movie Browser</a></h1>
</div>

@(await Html.RenderComponentAsync<MovieList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>